bidding_service_ipc_path = "/var/run/rbuilder/rpc_bidding_server.sock"
blocklist = "{{rbuilder.blocklist}}"
blocks_processor_url = "https://orderflow-archive.flashbots.net/api"
chain = "mainnet"
cl_node_url = ["http://127.0.0.1:3500"]
coinbase_secret_key = "{{rbuilder.coinbase_secret_key}}"
el_node_ipc_path = "/tmp/reth.ipc"
error_storage_path = "/tmp/rbuilder_errors.sqlite"
extra_data = "{{rbuilder.extra_data}}"
fast_bid_threshold_eth = "{{rbuilder.fast_bid_threshold_eth}}"
full_telemetry_server_ip = "127.0.0.1"
full_telemetry_server_port = 6060
ignore_blobs = false
ignore_cancellable_orders = false
jsonrpc_server_ip = "127.0.0.1"
jsonrpc_server_port = 8645
key_registration_url = "http://127.0.0.1:7937"
live_builders = {{{rbuilder.live_builders}}}
log_color = false
log_json = true
log_level = "info,rbuilder=debug"
optimistic_enabled = true
optimistic_max_bid_value_eth = "10"
optimistic_relay_secret_key = "{{rbuilder.optimistic_relay_secret_key}}"
relay_secret_key = "{{rbuilder.relay_secret_key}}"
require_non_empty_blocklist = {{rbuilder.require_non_empty_blocklist}}
reth_db_path = "/persistent/reth/db"
reth_static_files_path = "/persistent/reth/static_files"
root_hash_threads = {{rbuilder.root_hash_threads}}
root_hash_use_sparse_trie = true
sbundle_mergeabe_signers = ["0xFC171C46A32DC7fF09fBDDD4884a65b2aD596517"]
simulation_threads = 4
top_bid_ws_basic_auth = "{{rbuilder.top_bid_ws_basic_auth}}"
top_bid_ws_url = "{{rbuilder.top_bid_ws_url}}"
watchdog_timeout_sec = {{rbuilder.watchdog_timeout_sec}}

{{{rbuilder.builders}}}

{{{rbuilder.relays}}}
