export DNS_NAMES={{dns_name}}
export ACME_HOME=/persistent/acme.sh
export LOG_DIR=/var/log
export PRIV_KEY="${ACME_HOME}/key.pem"
export CERT_FILE="${ACME_HOME}/cert.pem"
export CSR_FILE="${ACME_HOME}/csr.pem"
export SYSTEM_API_FIFO=/var/volatile/system-api.fifo
export CF_Token={{acme_le.cf_token}}
export CF_Zone_ID={{acme_le.cf_zone_id}}
