export LOG_JSON=true
export FLASHBOTS_ORDERFLOW_SIGNER_ADDRESS={{orderflow_proxy.flashbots_orderflow_signing_address}}
export USER_LISTEN_ADDR={{orderflow_proxy.user_listen_addr}}
export SYSTEM_LISTEN_ADDR={{orderflow_proxy.system_listen_addr}}
export BUILDER_ENDPOINT={{orderflow_proxy.builder_endpoint}}
export BUILDER_CONFIGHUB_ENDPOINT={{orderflow_proxy.builder_confighub_endpoint}}
export ORDERFLOW_ARCHIVE_ENDPOINT={{orderflow_proxy.orderflow_archive_endpoint}}
export CONN_PER_PEER={{orderflow_proxy.conn_per_peer}}
export MAX_USER_RPS={{orderflow_proxy.max_user_rps}}
