export PROVISIONING_SERVER_ADDR={{autoprovisioning_agent.provisioning_server_addr}}
export APP_CONTRACT={{autoprovisioning_agent.app_contract}}

export MOUNT_POINT={{autoprovisioning_agent.mount_point}}
export DEVICE_GLOB="/dev/disk/by-path/*scsi-0:0:0:10"
export MAPPER_NAME=cryptdisk
export MAPPER_DEVICE=/dev/mapper/cryptdisk

export CONFIG_FILE={{autoprovisioning_agent.config_file}}
export TLS_CERT_FILE={{autoprovisioning_agent.tls_cert_file}}
export TLS_KEY_FILE={{autoprovisioning_agent.tls_key_file}}
export APP_PRIVKEY_FILE={{autoprovisioning_agent.app_privkey_file}}

export DEBUG_LOCAL_PROVIDER={{autoprovisioning_agent.debug_local_provider}}
export DEBUG_LOCAL_KMS_REMOTE_ATTESTATION_PROVIDER={{autoprovisioning_agent.debug_local_kms_remote_attestation_provider}}
